{"openapi":"3.0.0","info":{"description":"Este documento tem por objetivo fornecer instruções efetivas sobre o funcionamento da API do Localize, produto que é de propriedade da empresa Assertiva Tecnologia da Informação Ltda, inscrita no CNPJ sob o n° 15.724.796/0001-00.<br><br>A integração das nossas APIs em seu sistema deve ser realizada por uma equipe técnica. Caso encontre problemas com o seu funcionamento, envie um e-mail para [atendimento@assertivasolucoes.com.br](mailto:atendimento@assertivasolucoes.com.br).","version":"V3","x-logo":{"url":"https://assertivasolucoes.com.br/_main/img/assertiva_logo_color.svg","altText":"Assertiva"},"title":"API Localize","contact":{"name":"Assertiva Soluções","email":"contato@assertivasolucoes.com.br","url":"https://assertivasolucoes.com.br/"},"termsOfService":"http://example.com/terms/"},"servers":[{"url":"https://api.assertivasolucoes.com.br"}],"security":[{"oAuth2":["localize"]},{"APIKeyHeader":[]}],"paths":{"/localize/v3/cpf":{"get":{"tags":["Consultas principais"],"summary":"Obtenha informações cadastrais a partir da entrada de um CPF.","description":"A partir da inserção de um CPF válido e existente são retornadas informações cadastrais e de contato da pessoa pesquisada. No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar.","parameters":[{"in":"query","name":"cpf","schema":{"type":"string"},"required":true,"description":"Deve ser informado um único CPF, com ou sem máscara, sendo que os zeros à esquerda são *opcionais*.","example":"123.456.789-01"},{"in":"query","name":"idFinalidade","schema":{"type":"integer"},"required":true,"description":"Visando atender aos requisitos da LGPD é necessário informar a finalidade pela qual necessita fazer uso dos dados pessoais de uma pessoa e/ou empresa. </br></br><b>Opções:<br></br>1 - Confirmação de identidade</b><br> Utilização do dado pessoal para combate à fraude, visando à identificação correta ou confirmação de identidade.<br><b>2 - Ciclo de crédito</b><br> Utilização do dado pessoal para o ciclo de proteção ao crédito, incluindo a cobrança, verificação de situação financeira e a correta identificação.<br><b>4 - Execução de contrato</b><br>Utilização do dado pessoal para a devida atualização ou execução de contrato, de procedimentos preliminares relacionados ao contrato do qual seja parte o titular, a pedido do titular dos dados.<br><b>5 - Legítimo interesse</b><br> Utilização do dado pessoal para atender aos interesses legítimos do controlador ou de terceiro, atendendo e cumprindo com direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.","example":1}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsePessoaFisica"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden** - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"422":{"description":"Indica que a solicitação é válida, mas contém erros nos dados que impedem o processamento.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro422"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/cnpj":{"get":{"tags":["Consultas principais"],"security":[{"oAuth2":[]}],"summary":"Obtenha informações cadastrais a partir da entrada de um CNPJ.","description":"A partir da inserção de um CNPJ válido e existente são retornadas informações cadastrais e de contato da empresa pesquisada. No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar.","parameters":[{"in":"query","name":"cnpj","schema":{"type":"string"},"required":true,"description":"Deve ser informado um único CNPJ, com ou sem máscara, sendo que os zeros à esquerda são *opcionais*.","example":"01.234.567/0001-89"},{"in":"query","name":"idFinalidade","schema":{"type":"integer"},"required":true,"description":"Visando atender aos requisitos da LGPD é necessário informar a finalidade pela qual necessita fazer uso dos dados pessoais de uma pessoa e/ou empresa. </br></br><b>Opções:<br></br>1 - Confirmação de identidade</b><br> Utilização do dado pessoal para combate à fraude, visando à identificação correta ou confirmação de identidade.<br><b>2 - Ciclo de crédito</b><br> Utilização do dado pessoal para o ciclo de proteção ao crédito, incluindo a cobrança, verificação de situação financeira e a correta identificação.<br><b>4 - Execução de contrato</b><br>Utilização do dado pessoal para a devida atualização ou execução de contrato, de procedimentos preliminares relacionados ao contrato do qual seja parte o titular, a pedido do titular dos dados.<br><b>5 - Legítimo interesse</b><br> Utilização do dado pessoal para atender aos interesses legítimos do controlador ou de terceiro, atendendo e cumprindo com direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.","example":1}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsePessoaJuridica"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/email":{"get":{"tags":["Consultas principais"],"security":[{"oAuth2":[]}],"summary":"Obtenha pessoas físicas e/ou jurídicas a partir da entrada de um e-mail.","description":"A partir da inserção de um endereço de e-mail válido e existente são retornadas todas as pessoas e/ou empresas que possam estar vinculadas ao e-mail pesquisado. No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar.","parameters":[{"in":"query","name":"email","schema":{"type":"string"},"required":true,"description":"Deve ser informado um único e-mail e que esteja em um formato válido: tenha um formato válido, contendo identificaçao do usuário, @, nome do provedor e o tipo de usuário.","example":"jma@assertivasolucoes.com"},{"in":"query","name":"idFinalidade","schema":{"type":"integer"},"required":true,"description":"Visando atender aos requisitos da LGPD é necessário informar a finalidade pela qual necessita fazer uso dos dados pessoais de uma pessoa e/ou empresa. </br></br><b>Opções:<br></br>1 - Confirmação de identidade</b><br> Utilização do dado pessoal para combate à fraude, visando à identificação correta ou confirmação de identidade.<br><b>2 - Ciclo de crédito</b><br> Utilização do dado pessoal para o ciclo de proteção ao crédito, incluindo a cobrança, verificação de situação financeira e a correta identificação.<br><b>4 - Execução de contrato</b><br>Utilização do dado pessoal para a devida atualização ou execução de contrato, de procedimentos preliminares relacionados ao contrato do qual seja parte o titular, a pedido do titular dos dados.<br><b>5 - Legítimo interesse</b><br> Utilização do dado pessoal para atender aos interesses legítimos do controlador ou de terceiro, atendendo e cumprindo com direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.","example":1}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseEmail"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/nome-endereco":{"get":{"tags":["Consultas principais"],"security":[{"oAuth2":[]}],"summary":"Obtenha pessoas físicas e/ou jurídicas a partir da entrada de um nome ou endereço.","description":"A partir da inserção de um nome ou endereço válido e existente são retornadas todas as pessoas e/ou empresas que possam estar vinculadas aos dados informados. No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar. <br><br> É importante ressaltar que o retorno de pessoas neste *endpoint* está relacionado à seu cadastro ter a devida permissão. Além do mais, é obrigatório que a sua consulta contenha ao menos o tipo de busca (**buscarPor**), juntamente com o nome/razão social (**nomeOuRazaoSocial**) ou CEP/nome da rua informados (**cepOuNomeRua**) com dados válidos em seu respectivo conteúdo.","parameters":[{"in":"query","name":"buscarPor","schema":{"type":"string","enum":["pessoas","empresas","ambas"]},"required":true,"description":"Tipo do documento: CPF ou CNPJ."},{"in":"query","name":"nomeOuRazaoSocial","schema":{"type":"string"},"description":"Nome da pessoa ou razão social da empresa à ser consultada.","example":"João Mário de Andradas Filho"},{"in":"query","name":"nomeOuRazaoSocialExata","schema":{"type":"boolean"},"description":"*Flag* responsável por garantir que os resultados retornados contenham a expressão exata informada ou parte dela."},{"in":"query","name":"sexo","schema":{"type":"string","enum":["masculino","feminino","m","f"]},"description":"Este parâmetro só deve ser informado caso esteja consultando uma pessoa."},{"in":"query","name":"dataNascimentoOuAbertura","schema":{"type":"string","pattern":"dd/MM/yyyy"},"description":"Data de nascimento ou data de abertura, no formato: dd/MM/yyyy","example":"25/09/2007"},{"in":"query","name":"uf","schema":{"type":"string","enum":["AC","AL","AM","AP","BA","CE","DF","ES","GO","MA","MT","MS","MG","PA","PB","PR","PE","PI","RJ","RN","RO","RS","RR","SC","SE","SP","TO"]},"description":"UF do endereço da pessoa ou empresa à ser localizada.","example":"SP"},{"in":"query","name":"cidade","schema":{"type":"string"},"description":"Cidade do endereço da pessoa ou empresa à ser localizada. Para utilizar este filtro, é necessário também informar a UF.","example":"Campinas"},{"in":"query","name":"bairro","schema":{"type":"string"},"description":"Bairro do endereço da pessoa ou empresa à ser localizada. Para utilizar este filtro, é necessário também informar a UF e a cidade.","example":"Jardim Chapadão"},{"in":"query","name":"cepOuNomeRua","schema":{"type":"string"},"description":"Rua ou CEP do endereço da pessoa ou empresa à ser localizada. Para utilizar este filtro informando uma rua, é necessário também informar a UF, cidade e o bairro.","example":"Donato Radomile"},{"in":"query","name":"numeroInicial","schema":{"type":"integer"},"description":"Utiizado, principalmente, para localizar um conjunto de pessoas e/ou empresas em uma determinada rua.","example":"100"},{"in":"query","name":"numeroFinal","schema":{"type":"integer"},"description":"Utiizado, principalmente, para localizar um conjunto de pessoas e/ou empresas em uma determinada rua.","example":"1000"},{"in":"query","name":"complemento","schema":{"type":"string"},"description":"Complemento do endereço da pessoa ou empresa à ser localizada. Para utilizar este filtro, é necessário também informar a UF, cidade, o bairro e a rua.","example":"Bl F Ap 32"},{"in":"query","name":"idFinalidade","schema":{"type":"integer"},"required":true,"description":"Visando atender aos requisitos da LGPD é necessário informar a finalidade pela qual necessita fazer uso dos dados pessoais de uma pessoa e/ou empresa. </br></br><b>Opções:<br></br>1 - Confirmação de identidade</b><br> Utilização do dado pessoal para combate à fraude, visando à identificação correta ou confirmação de identidade.<br><b>2 - Ciclo de crédito</b><br> Utilização do dado pessoal para o ciclo de proteção ao crédito, incluindo a cobrança, verificação de situação financeira e a correta identificação.<br><b>4 - Execução de contrato</b><br>Utilização do dado pessoal para a devida atualização ou execução de contrato, de procedimentos preliminares relacionados ao contrato do qual seja parte o titular, a pedido do titular dos dados.<br><b>5 - Legítimo interesse</b><br> Utilização do dado pessoal para atender aos interesses legítimos do controlador ou de terceiro, atendendo e cumprindo com direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.","example":1}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseNomeEndereco"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden** - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"422":{"description":"Indica que a solicitação é válida, mas contém erros nos dados que impedem o processamento.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro422Endereco"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/telefone":{"get":{"tags":["Consultas principais"],"security":[{"oAuth2":[]}],"summary":"Obtenha pessoas físicas e/ou jurídicas a partir da entrada de um número de telefone.","description":"A partir da inserção de um número de telefone válido e existente são retornadas todas as pessoas e/ou empresas que possam estar vinculadas ao telefone pesquisado. No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar.","parameters":[{"in":"query","name":"telefone","schema":{"type":"string"},"required":true,"description":"O número de telefone pesquisado deve conter de 10 a 11 caracteres numéricos, com ou sem máscara.","example":"(11) 99898-9898"},{"in":"query","name":"idFinalidade","schema":{"type":"integer"},"required":true,"description":"Visando atender aos requisitos da LGPD é necessário informar a finalidade pela qual necessita fazer uso dos dados pessoais de uma pessoa e/ou empresa. </br></br><b>Opções:<br></br>1 - Confirmação de identidade</b><br> Utilização do dado pessoal para combate à fraude, visando à identificação correta ou confirmação de identidade.<br><b>2 - Ciclo de crédito</b><br> Utilização do dado pessoal para o ciclo de proteção ao crédito, incluindo a cobrança, verificação de situação financeira e a correta identificação.<br><b>4 - Execução de contrato</b><br>Utilização do dado pessoal para a devida atualização ou execução de contrato, de procedimentos preliminares relacionados ao contrato do qual seja parte o titular, a pedido do titular dos dados.<br><b>5 - Legítimo interesse</b><br> Utilização do dado pessoal para atender aos interesses legítimos do controlador ou de terceiro, atendendo e cumprindo com direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.","example":1}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseTelefone"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/mais-telefones":{"get":{"tags":["Consultas secundárias"],"security":[{"oAuth2":[]}],"summary":"Obtenha telefones relacionados a um determinado CPF ou CNPJ.","description":"A partir da inserção de um CPF ou CNPJ válido e existente são retornados telefones relacionados à pessoa ou empresa pesquisada, tais como número do telefone da mãe, parentes e possíveis parentes, e sócio(s) para a busca por CPF, enquanto que para a busca por CNPJ retornamos os números de telefone do(s) sócio(s), caso exista.  No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar. <br><br> É importante destacar que para utilizar esta consulta é necessário primeiro ter realizado uma consulta de CPF ou CNPJ com o mesmo documento.","parameters":[{"in":"query","name":"tipo","schema":{"type":"string","enum":["CPF","CNPJ"]},"required":true,"description":"Tipo do documento: CPF ou CNPJ.","example":"CPF"},{"in":"query","name":"documento","schema":{"type":"string"},"required":true,"description":"Deve ser informado um único CPF ou CNPJ, com ou sem máscara, sendo que os zeros à esquerda são *opcionais*.","example":"123.456.789-01"},{"in":"query","name":"protocolo","schema":{"type":"string"},"required":true,"description":"Número do protocolo retornado no cabeçalho da consulta de CPF ou de CNPJ.","example":"269418d1-f106-49d1-9576-d8849bf55ee0"}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMaisTelefones"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/pessoas-de-referencia":{"get":{"tags":["Consultas secundárias"],"security":[{"oAuth2":[]}],"summary":"Obtenha pessoas de referência a um determinado CPF.","description":"A partir da inserção de um CPF válido e existente são retornadas informações cadastrais básicas de pessoas de referência à pessoa pesquisada. As pessoas de referência (pai, mãe, filhos, irmãos e sócios) são aquelas que podem confirmar a identidade do seu cliente ou devedor, apoiando as suas ações de validação cadastral. No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar. <br><br> É importante destacar que para utilizar esta consulta é necessário primeiro ter realizado uma consulta de CPF com o mesmo documento.","parameters":[{"in":"query","name":"cpf","schema":{"type":"string"},"required":true,"description":"Deve ser informado um único CPF, com ou sem máscara, sendo que os zeros à esquerda são *opcionais*.","example":"123.456.789-01"},{"in":"query","name":"retornarMae","schema":{"type":"boolean"},"required":true,"description":"Por já retornarmos o nome e o telefone da mãe na consulta principal, fica então opcional retornar ou não esta informação, a fim de evitar dados repetidos.","example":"true"},{"in":"query","name":"protocolo","schema":{"type":"string"},"description":"Número do protocolo retornado no cabeçalho da consulta de CPF.","example":"269418d1-f106-49d1-9576-d8849bf55ee0"},{"in":"query","name":"idFinalidade","schema":{"type":"integer"},"required":true,"description":"Visando atender aos requisitos da LGPD é necessário informar a finalidade pela qual necessita fazer uso dos dados pessoais de uma pessoa e/ou empresa. </br></br><b>Opções:<br></br>1 - Confirmação de identidade</b><br> Utilização do dado pessoal para combate à fraude, visando à identificação correta ou confirmação de identidade.<br><b>2 - Ciclo de crédito</b><br> Utilização do dado pessoal para o ciclo de proteção ao crédito, incluindo a cobrança, verificação de situação financeira e a correta identificação.<br><b>4 - Execução de contrato</b><br>Utilização do dado pessoal para a devida atualização ou execução de contrato, de procedimentos preliminares relacionados ao contrato do qual seja parte o titular, a pedido do titular dos dados.<br><b>5 - Legítimo interesse</b><br> Utilização do dado pessoal para atender aos interesses legítimos do controlador ou de terceiro, atendendo e cumprindo com direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.","example":1}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsePessoasDeReferencia"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/possiveis-decisores":{"get":{"tags":["Consultas secundárias"],"security":[{"oAuth2":[]}],"summary":"Obtenha possíveis decisores relacionados a um determinado CNPJ.","description":"A partir da inserção de um CNPJ válido e existente são retornadas informações cadastrais básicas de possíveis decisores da empresa pesquisada, o que pode ser bastante relevante na prospecção de novos clientes. No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar. <br><br> É importante destacar que para utilizar esta consulta é necessário primeiro ter realizado uma consulta de CNPJ com o mesmo documento.","parameters":[{"in":"query","name":"cnpj","schema":{"type":"string"},"required":true,"description":"Deve ser informado um único CNPJ, com ou sem máscara, sendo que os zeros à esquerda são *opcionais*.","example":"01.234.567/0001-89"},{"in":"query","name":"protocolo","schema":{"type":"string"},"required":true,"description":"Número do protocolo retornado no cabeçalho da consulta de CNPJ.","example":"269418d1-f106-49d1-9576-d8849bf55ee0"}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponsePossiveisDecisores"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/feedback/v3/telefone":{"get":{"tags":["Feedbacks - Telefones"],"security":[{"oAuth2":[]}],"summary":"Obtenha as avaliações e justificativas para realizar o feedback de telefones","description":"Neste endpoint são retornados os IDs e respectivas descrições das avaliações e justificativas aceitas na API de feedback de telefones.","responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAvaliacaoJustificativaFeedbackTelefone"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}},"post":{"tags":["Feedbacks - Telefones"],"security":[{"oAuth2":[]}],"summary":"Avalie os números de telefone das consultas que realizar.","description":"Imagine que você entrou em contato com uma pessoa por meio de um de nossos telefones e conseguiu falar com ela, ou então, identificou que a pessoa não é mais a titular daquela linha. Com a avaliação, você poderá informar não somente a Assertiva, mas também para todas as pessoas da sua organização que tem acesso ao nosso portal. Desta forma, quem for necessitar entrar em contato com aquela mesma pessoa, não perderá tempo tentando contato com telefones que possam estar desatualizados.<br><br> Contudo, vale ressaltar que você só poderá avaliar um número de telefone para um documento que já tenha sido préviamente consultado por você, pois, caso contrário, o sistema não irá permitir.","requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*. <br><br> O ID da justificativa só será obrigatório caso a avaliação informada seja 2 (negativa).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestFeedbackTelefone"}}}},"responses":{"201":{"description":"**Created** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseFeedbackTelefone"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/feedback/v3/telefone/{id}":{"put":{"tags":["Feedbacks - Telefones"],"security":[{"oAuth2":[]}],"summary":"Altere as avaliações dos números de telefone das consultas que realizar.","description":"A partir do ID de uma avaliação já cadastrada você poderá alterá-la sempre que for necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID da avaliação à ser alterada.","schema":{"type":"integer","example":123}}],"requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*. <br><br> O ID da justificativa só será obrigatório caso a avaliação informada seja 2 (negativa).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestFeedbackTelefone"}}}},"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseFeedbackTelefone"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}},"delete":{"tags":["Feedbacks - Telefones"],"security":[{"oAuth2":[]}],"summary":"Exclua as avaliações dos números de telefone das consultas que realizar.","description":"A partir do ID de uma avaliação já cadastrada você poderá alterá-la sempre que for necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID da avaliação à ser excluída.","schema":{"type":"integer","example":123}}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseFeedbackTelefoneDelete"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/meu-portal/v3/comentario":{"post":{"tags":["Meu Portal - Comentários"],"security":[{"oAuth2":[]}],"summary":"Adicione comentários nas suas consultas.","description":"A partir da inserção de um documento válido e existente é possível vincular comentários ao documento consultado. Imagine que você tentou entrar em contato com a pessoa e precisa descrever esta informação. Ao invés de adicionar em um sistema a parte ou planilha, por exemplo, você pode adicionar diretamente a sua consulta.<br><br> Além do mais, caso outra pessoa da sua organização consulte o mesmo documento, o comentário cadastrado poderá também ser visto por ela. Contudo, vale ressaltar que você só poderá adicionar um comentário para um **documento que tenha sido préviamente consultado**, pois, caso contrário, o sistema não irá permitir.","requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMeuPortalComentario"}}}},"responses":{"201":{"description":"**Created** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalComentarioCriadoPor"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/meu-portal/v3/comentario/{id}":{"put":{"tags":["Meu Portal - Comentários"],"security":[{"oAuth2":[]}],"summary":"Altere os comentários que você adicionou nas suas consultas.","description":"A partir do ID de um comentário já cadastrado você poderá alterá-lo sempre que for necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID do comentário à ser alterado.","schema":{"type":"integer","example":123}}],"requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMeuPortalComentario"}}}},"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalComentarioAlteradoPor"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}},"delete":{"tags":["Meu Portal - Comentários"],"security":[{"oAuth2":[]}],"summary":"Exclua os comentários que você adicionou nas suas consultas.","description":"A partir do ID de um comentário já cadastrado você realizar sua exclusão, caso julgue ser necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID do comentário à ser excluído.","schema":{"type":"integer","example":123}}],"responses":{"200":{"description":"**Created** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalComentarioExclusao"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/meu-portal/v3/email":{"post":{"tags":["Meu Portal - E-mails"],"security":[{"oAuth2":[]}],"summary":"Adicione e-mails de contato para os documentos que consultar.","description":"Imagine que você conseguiu um e-mail da pessoa consultada que nós não temos em nossa base. Com esta API você poderá adicionar todos os e-mails que possuir.<br><br> Além do mais, caso outra pessoa da sua organização consulte o mesmo documento, o e-mail cadastrado poderá também ser visto por ela. Contudo, vale ressaltar que você só poderá adicionar um e-mail para um **documento que tenha sido préviamente consultado**, pois, caso contrário, o sistema não irá permitir.","requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMeuPortalEmail"}}}},"responses":{"201":{"description":"**Created** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalEmailCriadoPor"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/meu-portal/v3/email/{id}":{"put":{"tags":["Meu Portal - E-mails"],"security":[{"oAuth2":[]}],"summary":"Altere e-mails de contato para os documentos que você cadastrou um e-mail.","description":"A partir do ID de um e-mail já cadastrado você poderá alterá-lo sempre que for necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID do e-mail à ser alterado.","schema":{"type":"integer","example":123}}],"requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMeuPortalEmail"}}}},"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalEmailAlteradoPor"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}},"delete":{"tags":["Meu Portal - E-mails"],"security":[{"oAuth2":[]}],"summary":"Exclua e-mails de contato para os documentos que você cadastrou um e-mail.","description":"A partir do ID de um e-mail já cadastrado você realizar sua exclusão, caso julgue ser necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID do e-mail à ser excluído.","schema":{"type":"integer","example":123}}],"responses":{"200":{"description":"**Created** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalEmailExclusao"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/meu-portal/v3/endereco":{"post":{"tags":["Meu Portal - Endereços"],"security":[{"oAuth2":[]}],"summary":"Adicione e-mails de contato para os documentos que consultar.","description":"Imagine que você conseguiu um e-mail da pessoa consultada que nós não temos em nossa base. Com esta API você poderá adicionar todos os e-mails que possuir. Além do mais, caso outra pessoa da sua organização consulte o mesmo documento, o e-mail cadastrado poderá também ser visto por ela. Contudo, vale ressaltar que você só poderá adicionar um e-mail para um **documento que tenha sido préviamente consultado**, pois, caso contrário, o sistema não irá permitir.","requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMeuPortalEndereco"}}}},"responses":{"201":{"description":"**Created** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalEnderecoCriadoPor"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/meu-portal/v3/endereco/{id}":{"put":{"tags":["Meu Portal - Endereços"],"security":[{"oAuth2":[]}],"summary":"Altere e-mails de contato para os documentos que você cadastrou um e-mail.","description":"A partir do ID de um e-mail já cadastrado você poderá alterá-lo sempre que for necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID do endereço à ser alterado.","schema":{"type":"integer","example":123}}],"requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMeuPortalEndereco"}}}},"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalEnderecoAlteradoPor"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}},"delete":{"tags":["Meu Portal - Endereços"],"security":[{"oAuth2":[]}],"summary":"Exclua e-mails de contato para os documentos que você cadastrou um e-mail.","description":"A partir do ID de um e-mail já cadastrado você realizar sua exclusão, caso julgue ser necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID do endereço à ser alterado.","schema":{"type":"integer","example":123}}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalEnderecoExclusao"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/meu-portal/v3/telefone":{"post":{"tags":["Meu Portal - Telefones"],"security":[{"oAuth2":[]}],"summary":"Adicione telefones de contato para os documentos que consultar.","description":"Imagine que você conseguiu um telefone da pessoa consultada que nós não temos em nossa base. Com esta API você poderá adicionar todos os telefones que possuir. Além do mais, caso outra pessoa da sua organização consulte o mesmo documento, o telefone cadastrado poderá também ser visto por ela. Contudo, vale ressaltar que você só poderá adicionar um telefone para um **documento que tenha sido préviamente consultado**, pois, caso contrário, o sistema não irá permitir.","requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMeuPortalTelefone"}}}},"responses":{"201":{"description":"**Created** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalTelefoneCriadoPor"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/meu-portal/v3/telefone/{id}":{"put":{"tags":["Meu Portal - Telefones"],"security":[{"oAuth2":[]}],"summary":"Altere telefones de contato para os documentos que você cadastrou um telefone.","description":"A partir do ID de um telefone já cadastrado você poderá alterá-lo sempre que for necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID do telefone à ser alterado.","schema":{"type":"integer","example":123}}],"requestBody":{"required":true,"description":"**Antes de consumir o serviço, certifique-se que**: o body foi corretamente gerado, e que o CPF informado tenha no mínimo 3 caracteres numéricos e no máximo 11 caracteres numéricos, enquanto que o CNPJ deve ter no máximo 14. <br><br>Para o atributo \"documento\" aceitamos um único CPF ou CNPJ com ou sem máscara. Além do mais, os zeros à esquerda são *opcionais*.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestMeuPortalTelefone"}}}},"responses":{"200":{"description":"**Created** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalTelefoneAlteradoPor"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}},"delete":{"tags":["Meu Portal - Telefones"],"security":[{"oAuth2":[]}],"summary":"Exclua telefones de contato para os documentos que você cadastrou um telefone.","description":"A partir do ID de um telefone já cadastrado você realizar sua exclusão, caso julgue ser necessário.","parameters":[{"in":"path","name":"id","required":true,"description":"ID do telefone à ser excluído.","schema":{"type":"integer","example":123}}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMeuPortalTelefoneExclusao"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/report/usage":{"get":{"tags":["Relatórios"],"security":[{"oAuth2":[]}],"summary":"Obtenha informações sobre as consultas já efetuadas por você e/ou sua empresa.","description":"A partir da inserção de filtros, é possível obter informações sobre quais consultas você realizou em um determinado período. Contudo, cabe ressaltar que o retorno é condicionado ao perfil utilizado. Dependendo da permissão do seu usuário você poderá extrair informações das suas consultas, do seu grupo e/ou de toda a sua empresa.","parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["TODOS","LOC","NLOC","ERRO"]},"description":"Status da consulta. Valores aceitos: TODOS, LOC, NLOC, ERRO, podendo ser mais de um, e separados por pipe. Caso nenhum valor seja enviado, o padrão é trazer todos."},{"in":"query","name":"startDate","schema":{"type":"string","pattern":"yyyy-MM-dd"},"description":"Data inicial no formato: yyyy-MM-dd, caso não enviado, o padrão é o dia inicial do mês corrente.","example":"2020-10-01"},{"in":"query","name":"endDate","schema":{"type":"string"},"description":"Data final no formato: yyyy-MM-dd, caso não enviado, o padrão é o dia atual.","example":"2020-10-31"},{"in":"query","name":"numPage","schema":{"type":"integer"},"description":"Número da página, caso não enviado o padrão é 0.","example":0},{"in":"query","name":"numPageSize","schema":{"type":"integer"},"description":"Quantidade de itens por página, caso não enviado o padrão é 10.","example":10}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseRelatorio"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/localize/v3/report/usage/export":{"get":{"tags":["Relatórios"],"security":[{"oAuth2":[]}],"summary":"Obtenha informações sobre as consultas já efetuadas por você e/ou sua empresa em formato .CSV.","description":"A partir da inserção de filtros, é possível obter informações sobre quais consultas você realizou em um determinado período. Contudo, cabe ressaltar que o retorno é condicionado ao perfil utilizado. Dependendo da permissão do seu usuário você poderá extrair informações das suas consultas, do seu grupo e/ou de toda a sua empresa.","parameters":[{"in":"query","name":"status","schema":{"type":"string","enum":["TODOS","LOC","NLOC","ERRO"]},"description":"Status da consulta. Valores aceitos: TODOS, LOC, NLOC, ERRO, podendo ser mais de um, e separados por pipe. Caso nenhum valor seja enviado, o padrão é trazer todos."},{"in":"query","name":"startDate","schema":{"type":"string","pattern":"yyyy-MM-dd"},"description":"Data inicial no formato: yyyy-MM-dd, caso não enviado, o padrão é o dia inicial do mês corrente.","example":"2020-10-01"},{"in":"query","name":"endDate","schema":{"type":"string"},"description":"Data final no formato: yyyy-MM-dd, caso não enviado, o padrão é o dia atual.","example":"2020-10-31"}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseRelatorioCSV"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}},"/ultimas-consultas/v3":{"get":{"tags":["Relatórios"],"security":[{"oAuth2":[]}],"summary":"Obtenha os 30 últimos registros consultados nas APIs principais do Localize, sendo 20 consultas feitas no dia atual e 10 consultas realizadas nos dias anteriores.","description":"A partir da inserção do produto Localize como parâmetro é possível retornar até 30 registros consultados pelo seu usuário nas consultas principais (CPF, CNPJ, E-mail, Nome ou Endereço, e Telefone) do Localize. No caso de dúvidas sobre quais dados retornamos, verifique em *Example Value*, dentro do primeiro retorno do *Responses*, um modelo com dados fictícios que contém todos os dados que **podemos** retornar.","parameters":[{"in":"query","name":"produto","schema":{"type":"string"},"required":true,"description":"Deve ser informado o produto que deseja o retorno das últimas consultas. Neste caso: Localize.","example":"Localize"}],"responses":{"200":{"description":"**OK** - Exemplo de resposta retornada para quando há sucesso na requisição.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseUltimasConsultas"}}}},"400":{"description":"**Bad Request** - Esta resposta significa que o servidor não entendeu a requisição, isso porque foi enviada com uma sintaxe inválida ou porque que os requisitos do endpoint não foram atendidos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro400"}}}},"401":{"description":"**Unauthorized** - Esta resposta indica que é necessário enviar suas credenciais de autenticação para obter a resposta solicitada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro401"}}}},"403":{"description":"**Forbidden* - Esta mensagem será retornada sempre que um usuário sem permissão tentar acessar este recurso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro403"}}}},"500":{"description":"**Internal Server Error** - O servidor encontrou uma situação com a qual não sabe lidar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro500"}}}},"502":{"description":"**Bad Gateway** - Esta resposta de erro significa que o servidor obteve uma resposta diferente em relação aquilo que ele estava esperando.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro502"}}}},"503":{"description":"**Service Unavailable** - Isto poderá ser retornado quando o servidor estiver em manutenção, sobrecarregado ou indisponível.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro503"}}}},"504":{"description":"**Gateway Timeout** - Se em até 30 segundos a resposta não for retornada com ou sem sucesso, este código será retornado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseErro504"}}}}}}}},"components":{"schemas":{"RequestPF":{"type":"object","properties":{"idFinalidade":{"type":"string","example":1},"cpf":{"type":"string","example":"123.456.789-01"}}},"ResponsePessoaFisica":{"type":"object","properties":{"cabecalho":{"$ref":"#/components/schemas/CabecalhoPF"},"resposta":{"type":"object","properties":{"dadosCadastrais":{"$ref":"#/components/schemas/DadosCadastraisPF"},"telefones":{"$ref":"#/components/schemas/Telefones"},"telefonesAdicionados":{"$ref":"#/components/schemas/TelefonesAdicionados"},"feedbackTelefones":{"$ref":"#/components/schemas/FeedbackTelefones"},"enderecos":{"type":"array","items":{"$ref":"#/components/schemas/Enderecos"}},"enderecosAdicionados":{"$ref":"#/components/schemas/EnderecosAdicionados"},"emails":{"type":"array","items":{"$ref":"#/components/schemas/Emails"}},"emailsAdicionados":{"type":"array","items":{"$ref":"#/components/schemas/EmailsAdicionados"}},"participacoesEmpresas":{"type":"array","items":{"$ref":"#/components/schemas/ParticipacoesEmpresas"}},"possivelHistoricoProfissional":{"type":"array","items":{"$ref":"#/components/schemas/PossivelHistoricoProfissional"}},"historicoConsultasPorSegmento":{"$ref":"#/components/schemas/HistoricoConsultasPorSegmento"},"redesSociais":{"type":"array","items":{"$ref":"#/components/schemas/RedeSocialPF"}},"registrosProfissionais":{"type":"array","items":{"$ref":"#/components/schemas/RegistrosProfissionais"}},"comentarios":{"type":"array","items":{"$ref":"#/components/schemas/Comentarios"}}}},"alerta":{"type":"string","example":""}}},"CabecalhoPF":{"type":"object","properties":{"dataHora":{"type":"string","example":"01/03/2017 10:02:21","pattern":"dd/MM/yyyy HH:mm:ss"},"protocolo":{"type":"string","example":"da758c2a-e689-4759-b7d1-009e15b1f302"},"produto":{"type":"string","example":"Localize"},"funcionalidade":{"type":"string","example":"CPF"},"finalidade":{"type":"string","example":"Confirmação de identidade"},"descricaoFinalidade":{"type":"string","example":"Utilização do dado pessoal para combate à fraude, visando à identificação correta ou confirmação de identidade."},"reconsulta":{"type":"boolean","example":false},"entrada":{"$ref":"#/components/schemas/RequestPF"}}},"DadosCadastraisPF":{"type":"object","properties":{"cpf":{"type":"string","example":"123.456.789-01"},"nome":{"type":"string","example":"JOAO MARIO DE ANDRADAS"},"sexo":{"type":"string","example":"Masculino"},"dataNascimento":{"type":"string","example":"14/04/1970","pattern":"dd/MM/yyyy"},"idade":{"type":"integer","example":49},"obitoProvavel":{"type":"boolean","example":false},"signo":{"type":"string","example":"Áries"},"rg":{"type":"string","example":"124567890"},"ufRg":{"type":"string","example":"SP"},"situacaoCadastral":{"type":"string","example":"REGULAR"},"dataSituacaoCadastral":{"type":"string","example":"12/06/2019","pattern":"dd/MM/yyyy"},"maeNome":{"type":"string","example":"MARIA ANGELICA ANDRADAS"},"maeCpf":{"type":"string","example":"123.456.788-99"},"maeDataNascimento":{"type":"string","example":"10/09/1963"}}},"Telefones":{"type":"object","properties":{"fixos":{"$ref":"#/components/schemas/Fixos"},"moveis":{"$ref":"#/components/schemas/Moveis"}}},"TelefonesPJ":{"type":"object","properties":{"fixos":{"$ref":"#/components/schemas/FixosPJ"},"moveis":{"$ref":"#/components/schemas/MoveisPJ"}}},"Fixos":{"type":"array","items":{"type":"object","properties":{"numero":{"type":"string","example":"(19) 3553-6256"},"relacao":{"type":"string","example":"Direto"},"naoPerturbe":{"type":"boolean","example":false},"ultimoContato":{"type":"string","example":"Contato feito há 6 meses via SMS."},"aplicativos":{"$ref":"#/components/schemas/AplicativosFixos"}}}},"FixosPJ":{"type":"array","items":{"type":"object","properties":{"numero":{"type":"string","example":"(19) 3553-6256"},"relacao":{"type":"string","example":"Direto"},"naoPerturbe":{"type":"boolean","example":false},"ultimoContato":{"type":"string","example":"Contato feito há 6 meses via SMS."},"aplicativos":{"$ref":"#/components/schemas/AplicativosFixos"},"temGoogleMeuNegocio":{"type":"boolean","example":false}}}},"Moveis":{"type":"array","items":{"type":"object","properties":{"numero":{"type":"string","example":"(11) 99898-9898"},"relacao":{"type":"string","example":"Direto"},"naoPerturbe":{"type":"boolean","example":true},"hotphone":{"type":"boolean","example":true},"plus":{"type":"boolean","example":true},"ultimoContato":{"type":"string","example":"Contato feito há 6 meses via SMS."},"aplicativos":{"$ref":"#/components/schemas/Aplicativos"}}}},"MoveisPJ":{"type":"array","items":{"type":"object","properties":{"numero":{"type":"string","example":"(11) 99898-9898"},"relacao":{"type":"string","example":"Direto"},"naoPerturbe":{"type":"boolean","example":true},"hotphone":{"type":"boolean","example":true},"plus":{"type":"boolean","example":true},"ultimoContato":{"type":"string","example":"Contato feito há 6 meses via SMS."},"aplicativos":{"$ref":"#/components/schemas/Aplicativos"},"temGoogleMeuNegocio":{"type":"boolean","example":true}}}},"Aplicativos":{"type":"object","properties":{"whatsApp":{"type":"boolean"}}},"AplicativosFixos":{"type":"object","properties":{"whatsAppBusiness":{"type":"boolean"}}},"TelefonesAdicionados":{"type":"object","properties":{"fixos":{"$ref":"#/components/schemas/FixosAdicionados"},"moveis":{"$ref":"#/components/schemas/MoveisAdicionados"}}},"FixosAdicionados":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1},"numero":{"type":"string","example":"(19) 3553-6257"},"aplicativos":{"$ref":"#/components/schemas/AplicativosFixos"},"criadoPor":{"$ref":"#/components/schemas/CriadoPor"},"alteradoPor":{"$ref":"#/components/schemas/AlteradoPor"}}}},"MoveisAdicionados":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2},"numero":{"type":"string","example":"(11) 99898-9894"},"aplicativos":{"$ref":"#/components/schemas/Aplicativos"},"criadoPor":{"$ref":"#/components/schemas/CriadoPor"},"alteradoPor":{"$ref":"#/components/schemas/AlteradoPor"}}}},"CriadoPor":{"type":"object","properties":{"usuario":{"type":"string","example":"apoliveira@clienteassertiva.com.br"},"dataHora":{"type":"string","example":"09/06/2020 às 09:36"}}},"AlteradoPor":{"type":"object","properties":{"usuario":{"type":"string","example":"apoliveira@clienteassertiva.com.br"},"dataHora":{"type":"string","example":"12/06/2020 às 10:14"}}},"FeedbackTelefones":{"type":"object","properties":{"fixos":{"$ref":"#/components/schemas/FeedbackTelefonesFixos"},"moveis":{"$ref":"#/components/schemas/FeedbackTelefonesMoveis"}}},"FeedbackTelefonesFixos":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1},"numero":{"type":"string","example":"(19) 3553-6256"},"avaliacao":{"type":"string","example":"Positiva"},"justificativa":{"type":"string","example":null}}}},"FeedbackTelefonesMoveis":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2},"numero":{"type":"string","example":"(11) 99898-9898"},"avaliacao":{"type":"string","example":"Negativa"},"justificativa":{"type":"string","example":"Não pertence mais à esta pessoa"}}}},"Enderecos":{"type":"object","properties":{"tipoLogradouro":{"type":"string","example":"R"},"logradouro":{"type":"string","example":"DONATO RADOMILE"},"numero":{"type":"string","example":32},"complemento":{"type":"string","example":"1 ANDAR"},"bairro":{"type":"string","example":"JARDIM CHAPADAO"},"cidade":{"type":"string","example":"CAMPINAS"},"uf":{"type":"string","example":"SP"},"cep":{"type":"string","example":"13070-074"},"latitude":{"type":"string","example":"-22.8892698"},"longitude":{"type":"string","example":"-47.0817045"},"precisaoCep":{"type":"string","example":"CONFIRMADA"}}},"EnderecosPJ":{"type":"object","properties":{"tipoLogradouro":{"type":"string","example":"R"},"logradouro":{"type":"string","example":"DONATO RADOMILE"},"numero":{"type":"string","example":32},"complemento":{"type":"string","example":"1 ANDAR"},"bairro":{"type":"string","example":"JARDIM CHAPADAO"},"cidade":{"type":"string","example":"CAMPINAS"},"uf":{"type":"string","example":"SP"},"cep":{"type":"string","example":"13070-074"},"latitude":{"type":"string","example":"-22.8892698"},"longitude":{"type":"string","example":"-47.0817045"},"temGoogleMeuNegocio":{"type":"boolean","example":true},"precisaoCep":{"type":"string","example":"APROXIMADA"}}},"EnderecosAdicionados":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1},"tipoLogradouro":{"type":"string","example":"R"},"logradouro":{"type":"string","example":"Donato Radomile"},"numero":{"type":"string","example":34},"complemento":{"type":"string","example":"1 Andar"},"bairro":{"type":"string","example":"Jardim Chapadão"},"cidade":{"type":"string","example":"Campinas"},"uf":{"type":"string","example":"SP"},"cep":{"type":"string","example":"13070-074"},"criadoPor":{"$ref":"#/components/schemas/CriadoPor"},"alteradoPor":{"$ref":"#/components/schemas/AlteradoPor"}}}},"Emails":{"type":"object","properties":{"email":{"type":"string","example":"comercial@sasadmin.com.br"}}},"EmailsAdicionados":{"type":"object","properties":{"id":{"type":"integer","example":1},"email":{"type":"string","example":"financeiro@sasadmin.com.br"},"criadoPor":{"$ref":"#/components/schemas/CriadoPor"},"alteradoPor":{"$ref":"#/components/schemas/AlteradoPor"}}},"ParticipacoesEmpresas":{"type":"object","properties":{"cnpj":{"type":"string","example":"01.234.567/0001-89"},"razaoSocial":{"type":"string","example":"ABC SERVICOS DE COBRANCA LTDA"},"cargo":{"type":"string","example":"Diretor"},"dataEntrada":{"type":"string","example":"23/07/2017","pattern":"dd/MM/yyyy"}}},"PossivelHistoricoProfissional":{"type":"object","properties":{"cnpj":{"type":"string","example":"12.345.678/0001-91"},"razaoSocial":{"type":"string","example":"DIAS E LAGOAS ADVOGADOS LTDA"},"setor":{"type":"string","example":"Atividades jurídicas, de contabilidade e de auditoria"},"cboDescricao":{"type":"string","example":"Assistente administrativo"},"dataRegistro":{"type":"string","example":"01/03/2017","pattern":"dd/MM/yyyy"},"faixaSalarial":{"type":"string","example":"De 2 a 3 salários mínimos"},"rendaEstimada":{"type":"number","example":"R$ 999,99"}}},"RegistrosProfissionais":{"type":"object","properties":{"dataInscricao":{"type":"string","example":"01/10/1997","pattern":"dd/MM/yyyy"},"numeroInscricao":{"type":"string","example":"1234567"},"profissao":{"type":"string","example":"MÉDICO(A)"},"sigla":{"type":"string","example":"CFM"},"situacao":{"type":"string","example":"Regular"},"faixaSalarial":{"type":"string","example":"De 2 a 3 salários mínimos"},"uf":{"type":"string","example":"SP"}}},"HistoricoConsultasPorSegmento":{"type":"object","properties":{"segmentos":{"$ref":"#/components/schemas/Segmentos"},"quantidadeTotal":{"type":"integer","example":7}}},"RedeSocialPF":{"type":"object","properties":{"url":{"type":"string","example":"https://br.linkedin.com/in/pessoa-fisica-9285735c4"},"nome":{"type":"string","enum":["linkedin"],"example":"linkedin"}}},"RedeSocialPJ":{"type":"object","properties":{"url":{"type":"string","example":"https://exemplo.com.br"},"nome":{"type":"string","enum":["site"],"example":"site"},"temGoogleMeuNegocio":{"type":"boolean","example":true}}},"Segmentos":{"type":"array","items":{"type":"object","properties":{"segmento":{"type":"string","example":"Advogados e afins"},"quantidade":{"type":"integer","example":7}}}},"Comentarios":{"type":"object","properties":{"id":{"type":"integer","example":1},"comentario":{"type":"string","example":"Última tentativa de contato no dia 12/05 às 10h10."},"criadoPor":{"$ref":"#/components/schemas/CriadoPor"},"alteradoPor":{"$ref":"#/components/schemas/AlteradoPor"}}},"ResponsePessoaJuridica":{"type":"object","properties":{"cabecalho":{"$ref":"#/components/schemas/CabecalhoPJ"},"respost
[...]
